@font-face {
    font-family: "YuWeiXingShu";
    src: url("YuWeiXingShu.eot"); /* IE9 */
    src: url("YuWeiXingShu.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("YuWeiXingShu.woff") format("woff"), /* chrome、firefox */
    url("YuWeiXingShu.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("YuWeiXingShu.svg#YuWeiXingShu") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


