.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.align-items-center {
  align-items: center;
}

.align-content-between {
  align-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.mr1 {
  margin-right: 1em;
}
