@font-face {
    font-family: "hksjt";
    src: url("hksjt.eot"); /* IE9 */
    src: url("hksjt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("hksjt.woff") format("woff"), /* chrome、firefox */
    url("hksjt.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("hksjt.svg#hksjt") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


